html, body {
	margin: 0; padding: 0;
}
.customSearch > ul > li  {
	color: #bbb;
}
.customSearch > ul > li > span {
	font-size: 1.4em;
	color: #000;
	font-weight: bold;
}

.section {
	position: relative;
	padding: 40px;
}
#suggestionDiv {
	display: none;
	position: absolute;
	left: 40px;
	top: 62px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	background: #fff;
}

#suggestionDiv > ul {
	list-style: none;
}
